#content
  #sidebar
    = render "posts/sidebar/logos"
    = render "posts/sidebar/topic"
    = render "posts/sidebar/#{@mode}"

  #feed
    - @posts.each do |p|
      .comment{class: p.image_class}
        .quote-container
          %p.comment-text{class: p.text_length_class}
            = image_tag 'quote-feed.png', class: 'quote-mark', alt: ''
            = p.text
          %p.comment-meta
            =t :entry_subline_feed_html, p.subline_replacements_html_safe
        - if p.has_image? then
          .image-container
            %img{src: "comment-#{p.image_class}-feed.png", alt: '', style: "background-image: url()"}

- if @mode != :presentation then
  #footer
    #footer-content
      %p#disclaimer 
        =t :opinions_disclaimer, { organization: CFG['organization'] }
      %p#pagination
        %span#pagination-text
          =t :showing_only_last_comments_html, { limit: @limit }
        %a.button{href: complete_feed_path(@topic.uuid)}
          %span 
            =t :show_complete_feed


= javascript_include_tag "application" 
:javascript
  var speed           = #{CFG['feed_speed']};       // duration of transitions in ms
  var limit           = #{@limit};                  // limit in feed queue
  var interval        = #{CFG['feed_interval']};    // interval of ajax calls in s
  var startTopic      = #{@topic.id};               // ID of hardcoded topic
  var startComment    = #{@posts.first.id};         // ID of last hardcoded comment
  var updateUrl       = "#{feed_data_path}"         // URL of JSON data provider
= javascript_include_tag "cubicles" 
= javascript_include_tag "feed" 


